@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Inter", sans-serif;
  /* font-family: "Lexend Deca", sans-serif; */
}

:root {
  /* colors */
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-saturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
}
.body-dark {
  background-color: var(--very-dark-blue);
}
